/* its generally not recommended to use styles on general html elements, but rather to utilize classes and IDs */
h1 {
  /* color: cornflowerblue; */
}
/* selects only the h1 tags with the class random */
.random h1 {
  color: yellow;
}

/* selects everything on the page */
/* can be used to get rid of any kind of styling  */
/* that elements may be initialized with (e.g. font size, font family, padding) */
* {
  font-size: 20px;
}
/* you can target elements below a specified class */
/* targets the ul element below .my-list */
.my-list + ul {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* gets rid of the bullet points */
  list-style: none;
}
