html {
  font-size: 62.5%;
}

button {
  margin: 20rem;
  /* top-bottom = 2rem, left-right = 4rem */
  padding: 2rem 4rem;
  background: none;
  border: 0.3rem solid rgb(91, 91, 180);
  /* border: 0.3rem dotted blue; */
  color: blueviolet;
  font-size: 2.4rem;
  /* used to force boxes into circles && 50% is a perfect circle */
  border-radius: 1rem;
  /* you can specify a specific corner */
  border-top-left-radius: 2rem;
  background: cornflowerblue;
}
